.main_container {
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
}

.left_container {
    width: 50%;
    padding-right: 20px;
}
.left_container h2{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 20px 0 10px 0;
    color: #D14891;
}
.left_container p{
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0;
    font-family: Arial, Serif, serif;
    color: #333333;
    line-height: 24px;
    font-weight: 400!important;
}
.left_container a{
    font-size: 14px;
    font-weight: 700!important;
    color: #337AB7;
}
.left_container a:hover{
    color: #23527C;
    text-decoration: underline!important;
    text-underline: #23527C;
}

.right_container {
    width: 49%;
    margin-left: 1%;margin-top: 1%;
}

.right_container img {
    width: 100%;
}
.youtube{
    margin: 1% 0 5% 10%;
    height: 400px;
    width: 80%;
    display: flex;
}
.left_tube{
    width: 49%;

}
.right_tube{
    margin-left: 2%;
    width: 49%;
}
